.bg-cover {
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-size: cover;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-overlay-container,
.bg-video-container {
    position: relative;

    > * {
        position: relative;
    }
}

.bg-overlay-container .bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.bg-video-container .bg-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;

    video {
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
