@import "./variables";

html {
    font-size: $qt-font-size-base !important;
    @media (max-width: $sm-max-width) {
        font-size: $qt-font-size-base !important;
    }
}

body {
    font-family: $qt-font-family-base !important;
    font-size: $qt-font-size-base !important;
    background: #f2f3f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $h1-font-size;
}
h2,
.h2 {
    font-size: $h2-font-size;
}
h3,
.h3 {
    font-size: $h3-font-size;
}
h4,
.h4 {
    font-size: $h4-font-size;
}
h5,
.h5 {
    font-size: $h5-font-size;
}
h6,
.h6 {
    font-size: $h6-font-size;
}

.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
}
.display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
}
.display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
}
.display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
}
hr,
.sidenav-divider,
.sidenav-inner > .sidenav-item.open > .sidenav-menu::before {
    border-color: rgba(78, 81, 85, 0.075) !important;
}
a {
    color: #1e70cd;
    text-decoration: none;
    background-color: transparent;
    &:hover {
        text-decoration: none;
    }
}
