.dashboard-chart-box {
    height: 220px;
}
.chart-box-h40 {
    height: 40px;
}
.chart-shadow-primary {
    -webkit-filter: drop-shadow(0 8px 8px #716aca);
    filter: drop-shadow(0 8px 8px #716aca);
}
